@use "./modules/" as m;

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: m.color(neutral__very-dark-blue-main);
}

.card {
  max-width: 23.5rem;
  background-color: m.color(neutral__very-dark-blue-card);
  padding: 1.5rem;
  border-radius: 2rem;

  @media screen and (width < 50rem) {
    max-width: 22rem;
    border-radius: 1.5rem;
    padding: 1rem;
  }

  &__header {
    max-width: 100%;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 1rem;

    @media screen and (width < 50rem) {
      border-radius: 0.75rem;
    }

    &:hover {
      cursor: pointer;

      .card__header--view {
        opacity: 1;
      }
    }
  }

  &__header--img {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  &__header--view {
    position: absolute;
    z-index: 9;
    inset: 0;
    display: block;
    height: 100%;
    width: 100%;
    // background-color: m.color(primary__cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 247, 0.25);
    backdrop-filter: blur(0.5rem);
    opacity: 0;
    transition: 0.25s ease;
  }

  &__header--view__icon {
    position: absolute;
    z-index: 9;
    inset: 0;
    display: block;
    // height: 100%;
    // width: 100%;
    margin: auto;
  }

  &__title {
    color: m.color(neutral__white);
    font-size: var(--fs-1);
    font-weight: m.weight(bold);
    margin-bottom: 0.5rem;
  }

  &__title--link {
    text-decoration: none;
    color: m.color(neutral__white);
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.25rem;
    transition: 0.125s ease;

    &:hover {
      text-decoration: underline;
      color: m.color(primary__cyan);
    }
  }

  &__text {
    font-size: var(--fs--1);
    color: m.color(primary__soft-blue);
    font-weight: m.weight(regular);
    margin-bottom: 0.75rem;
  }

  &__info-cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info-cols--duration,
  &__info-cols--price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__info-cols--price__text {
    color: m.color(primary__cyan);
    font-size: var(--fs--1);
  }

  &__info-cols--duration__text {
    color: m.color(primary__soft-blue);
    font-size: var(--fs--1);
  }

  hr {
    margin-block: 1rem;
    // padding: 1rem;
    border-color: m.color(neutral__very-dark-blue-line);
  }

  &__profile {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 1rem;
  }

  &__profile--img {
    max-width: 2.5rem;
    border-radius: 50rem;
    border: 0.125rem solid m.color(neutral__white);
  }

  &__profile--text {
    font-size: var(--fs--1);
    color: m.color(primary__soft-blue);
  }

  &__profile--text__author {
    text-decoration: none;
    font-weight: m.weight(semibold);
    color: m.color(neutral__white);
    transition: 0.125s ease;

    &:hover {
      text-decoration: underline;
      color: m.color(primary__cyan);
      text-decoration-thickness: 0.125rem;
    }
  }
}
